*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body{
    background-color: #F3F3F3;
    width: 100vw;
    height: 100vh;
    font-size: 14px;
}

header, footer{
    background-color: #fff;
    width: 100%;
    height: 80px;
    position: sticky;
    left: 0;
}

header{
    top: 0;
    position: fixed;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

nav, .footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 22px;
}

nav > ion-icon{
    font-size: 42px;
}

footer{
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.footer-content{
    margin: 0 18px;
}

.footer-content > ion-icon{
    cursor: pointer;
    font-size: 26px;
}

.footer-content > input{
    width: 80%;
    height: 30px;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    border: none;
}

.footer-content >input:focus{
    outline: none;
}

.messages-box{
    display: flex;
    flex-direction: column;
    margin: 106px 0 26px 0;
    gap: 4px;
}

.message-display{
    min-height: 40px;
    height: inherit;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 2px;
}

.message{
    background-color: #fff;
}

.status{
    background-color: #DCDCDC;
}

.private_message{
    background-color: #FFDEDE;
}

.time{
    color: #aaaaaa;
}

.name{
    font-weight: 700;
}

span{
    font-weight: normal;
}


.login{
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-content > img {
    margin-top: 72px;
    width: 130px;
    height: 92px;
}

.login-content > input{
    margin: 92px 0 15px;
    font-size: 18px;
    color:#AEAEAE;
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
}

.login-content > button{
    cursor: pointer;
    border: none;
    border-radius: 9px;
    background-color: #E7E7E7;
    color: #696969;
    font-size: 18px;
    width: 109px;
    height: 45px;
}

.disabled{
    display: none;
}