*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body{
    background-color: #F3F3F3;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

header, footer{
    background-color: #fff;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
}

header{
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

nav, .footer-content>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 22px;
}

nav > ion-icon{
    font-size: 42px;
}

main{
    padding-bottom: 80px;
    overflow-y: hidden;
}

footer{
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.footer-content{
    margin: 0 18px;
    width: 100%;
}

.footer-content>div{
    margin: 0;
}

.footer-content > div > ion-icon{
    cursor: pointer;
    font-size: 26px;
}

.footer-content > div >input{
    width: 80%;
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    border: none;
}

.footer-content:last-child{
    font-family: 'Roboto';
    color: #717171;
    font-weight: 300;
}

.footer-content > div >input::placeholder{
    color: black;
}

.footer-content > div >input:-ms-input-placeholder{
    color: black;
}
.footer-content > div >input::-ms-input-placeholder{
    color: black;
}

.footer-content > div >input:focus{
    outline: none;
}

.messages-box{
    display: flex;
    flex-direction: column;
    margin: 106px 0 26px 0;
    gap: 4px;
    overflow: hidden;
    overflow-y: hidden;
}

.message-display{
    padding: 15px;
    line-height: 25px;
    align-self: center;
    width: 100%;
    min-height: 40px;
    height: inherit;
    gap: 5px;
    border-radius: 2px;
}

.message{
    background-color: #fff;
}

.status{
    background-color: #DCDCDC;
}

.private_message{
    background-color: #FFDEDE;
}

.time{
    color: #aaaaaa;
}

.name{
    font-weight: 700;
}

span{
    font-weight: normal;
}


.login{
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-content > img {
    margin-top: 72px;
    width: 130px;
    height: 92px;
}

.login-content > input{
    margin: 92px 0 15px;
    font-size: 18px;
    color:#AEAEAE;
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
}

.login-content > button{
    cursor: pointer;
    border: none;
    border-radius: 9px;
    background-color: #E7E7E7;
    color: #696969;
    font-size: 18px;
    width: 109px;
    height: 45px;
}

.disabled{
    display: none;
}

aside{
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
}

aside > nav {
    overflow: hidden;
    overflow-y: scroll;
    left: calc(100% - 60%);
    background-color: #FFF;
    width: 60%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0;
    animation-name: nav_animation;
    animation-duration: 0.5s;
}
nav > .side-title {
    text-align: center;
    line-height: 19px;
    padding: 40px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
}

.people, .visibility{
    width: 80%;
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.visibility{
    margin-bottom: 50px;
}

.option{
    width: 100%;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.option >div> ion-icon{
    font-size: 25px;
    margin-right: 8px;
}

.option > div> p {
    font-size: 16px;
    font-family: 'Roboto';
}

.option > div{
    display: flex;
    align-items: center;
}

.option > ion-icon{
    font-size: 15px;
    font-weight: 700;
    color: #28BB25;
    display: none;
}


.option > .check{
    display:inline
}

.transparent{
    width: 40%;
    height: 100%;
}

@keyframes nav_animation {
    from {margin-left: 100%;}
    to {margin-left: 0;}
}

@keyframes nav_animation_out{
    from {margin-left: 0;}
    to {margin-left: 100%;}
}

.nav_out {

    animation-fill-mode: forwards;
    animation-name: nav_animation_out;
    animation-timing-function: ease;
    animation-duration: 0.5s;
}